@font-face {
  font-family: "iconfont"; /* Project id 5220342 */
  src: url('iconfont.woff2?t=1786198760327') format('woff2'),
       url('iconfont.woff?t=1786198760327') format('woff'),
       url('iconfont.ttf?t=1786198760327') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fuzhi2:before {
  content: "\e64c";
}

.icon-jianqie:before {
  content: "\e6f5";
}

.icon-niantie:before {
  content: "\e6c0";
}

.icon-xiazai1:before {
  content: "\e607";
}

.icon-kefu3:before {
  content: "\e60a";
}

.icon-xiangmuguanli:before {
  content: "\e61a";
}

.icon-geren:before {
  content: "\e653";
}

.icon-shouye:before {
  content: "\e628";
}

.icon-icon-project:before {
  content: "\e61b";
}

.icon-wenjianjia:before {
  content: "\ec17";
}

.icon-shubiaojiantou:before {
  content: "\e748";
}

.icon-zhuyi1:before {
  content: "\e612";
}

.icon-houtaiguanli-jifenguanli:before {
  content: "\e636";
}

.icon-a-Moregengduoxuanxiang:before {
  content: "\e92b";
}

.icon-shanchu:before {
  content: "\e665";
}

.icon-zhongzhi:before {
  content: "\e609";
}

.icon-zhongzhi1:before {
  content: "\e652";
}

.icon-dodo-v-flip1:before {
  content: "\e606";
}

.icon-dodo-v-flip-copy:before {
  content: "\ed98";
}

.icon-bangdingshebei:before {
  content: "\e619";
}

.icon-binding:before {
  content: "\e611";
}

.icon-baocunwenjian:before {
  content: "\e605";
}

.icon-bangding:before {
  content: "\e64e";
}

.icon-chuizhiduiqi:before {
  content: "\e60f";
}

.icon-yunhang:before {
  content: "\e6c1";
}

.icon-fuzhi:before {
  content: "\e69f";
}

.icon-pailie-xian:before {
  content: "\e8e0";
}

.icon-batch-download:before {
  content: "\e78c";
}

.icon-fuzhi1:before {
  content: "\e662";
}

.icon-jiezu:before {
  content: "\e663";
}

.icon-wuxian:before {
  content: "\e6ed";
}

.icon-huoshanyinqing:before {
  content: "\ed97";
}

.icon-biaoji:before {
  content: "\e6b4";
}

.icon-fanyi:before {
  content: "\e65f";
}

.icon-ChatGPT:before {
  content: "\e6a5";
}

.icon-jimengAI:before {
  content: "\e603";
}

.icon-keling:before {
  content: "\e604";
}

.icon-nano-banana:before {
  content: "\e901";
}

.icon-ic_suodingkuangaobi:before {
  content: "\e64d";
}

.icon-keling2:before {
  content: "\e71c";
}

.icon-shubiaoxuanze:before {
  content: "\e789";
}

.icon-a-Seedance20:before {
  content: "\e637";
}

.icon-happyHorse:before {
  content: "\e938";
}

.icon-Happyhorse-copy:before {
  content: "\ea34";
}

.icon-xiugaioryijian:before {
  content: "\e602";
}

.icon-yulan1:before {
  content: "\e6a2";
}

.icon-xiugai:before {
  content: "\e610";
}

.icon-koutu2:before {
  content: "\e631";
}

.icon-duihuaqipao:before {
  content: "\e61e";
}

.icon-jiugongge1:before {
  content: "\e60d";
}

.icon-qushuiyin:before {
  content: "\e6c3";
}

.icon-caijian:before {
  content: "\e645";
}

.icon-xiazai:before {
  content: "\e601";
}

.icon-bianjiwenzi:before {
  content: "\e65d";
}

.icon-crop-full:before {
  content: "\ea33";
}

.icon-contact-customer-service:before {
  content: "\e6d5";
}

.icon-chaikai:before {
  content: "\e60c";
}

.icon-gaoqingxidu:before {
  content: "\e86c";
}

.icon-jubuxiugai:before {
  content: "\e618";
}

.icon-tishici:before {
  content: "\e74f";
}

.icon-anniu_duocengsaomiao_duoceng:before {
  content: "\e715";
}

.icon-koutu:before {
  content: "\e69e";
}

.icon-AIchaoqingfangda:before {
  content: "\e7f3";
}

.icon-huiyuanjifen:before {
  content: "\e6b0";
}

.icon-zhedie:before {
  content: "\e62d";
}

.icon-expand-right-line:before {
  content: "\e74e";
}

.icon-TSPxuanfukeli:before {
  content: "\e660";
}

.icon-jianpan:before {
  content: "\e60e";
}

.icon-jia:before {
  content: "\e632";
}

.icon-jian:before {
  content: "\e633";
}

.icon-zhuashou:before {
  content: "\e640";
}

.icon-yulan:before {
  content: "\e613";
}

.icon-heibaimoshi:before {
  content: "\e600";
}

.icon-zidongzhengli:before {
  content: "\e72d";
}

.icon-lishi:before {
  content: "\e608";
}

.icon-tianjiajia:before {
  content: "\e706";
}

.icon-gongzuoliugongzuoliuguanli:before {
  content: "\e64b";
}

.icon-gongzuoliu:before {
  content: "\e811";
}

.icon-yiwen2x-copy:before {
  content: "\e9ce";
}

.icon-black:before {
  content: "\e624";
}

.icon-baocun:before {
  content: "\e60b";
}

.icon-baocun1:before {
  content: "\e65c";
}

.icon-shangyibu:before {
  content: "\e661";
}

.icon-xiayibu1:before {
  content: "\e664";
}

.icon-save-3-fill:before {
  content: "\e782";
}

.icon-save-fill:before {
  content: "\e783";
}

